<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Edit a todo</h1>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>done</th>
            <th>urgent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.done}"></td>
            <td th:text="${todo.urgent}"></td>
        </tr>
    </tbody>
</table>
<form th:action="@{/todo/{id}/edit(id=${todo.id})}" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="checkbox" name="isUrgent" th:checked="${todo.urgent}">Urgent<br>
    <input type="checkbox" name="isDone" th:checked="${todo.done}">Done<br>
    <button type="submit">Edit</button>
</form>
</body>
</html>
